.tablediv>table{
    font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
.tablediv th,.tablediv td{
    border: 1px solid #ddd;
  padding: 8px;
}

@media screen and (max-width:375px) {
    .tablediv{
        width: 100%;
    }
    
}